<h2 id="title">Welcome to Ember</h2>
<button {{action "throwError"}}>Throw Error</button>
<button {{action "logError"}}>Log Error</button>
<button {{action "rejectPromise"}}>Reject Promise</button>
<button {{action "addPageAction"}}>Add PageAction</button>
{{outlet}}